@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Signika+Negative');


body {
    padding: 0; 
    margin: 0;
}

canvas {
    vertical-align: top;
}
